---
layout: default
---

<h1 class="page-heading">Posts</h1>

<ul class="post-list">
  {% for post in site.posts %}
    {% if post.frontpage != false %}
    <li>
      <span class="post-meta">{{ post.date | date_to_string }}</span>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      {{ post.excerpt }}
    </li>
    {% endif %}
  {% endfor %}
</ul>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>


<style type="text/css" media="screen">
ul.post-list > li {
  border-bottom: 1px dotted #777;
  padding-bottom: 10px;
}
.post-list li:first-child {
  
}

</style>
